html, body {
  height: 100%;
}
.judul{
  text-align: center;
  font-family: trebuchet ms;
}

.menu{
  width: 100%;
	height: 50px;
	background: #017B17;
	float: left;
}

.menu-kiri-1{
  width: 30%;
  min-height: 50%;
  background-color: #1a61ba;
  font: 13pt 'trebuchet ms';
  float: left;
}

.menu-kanan{
  width: 70%;
  height: 100%;
  background-color: #ADD5F8;
  float: right;
}

.menu-kiri-2{
  width: 30%;
  height: 50%;
  background-color: #FFFFFF;
  float: left;
}

.footer{
  width: 100%;
  background-color: #000000;
  float: left;
  color: #ffffff;
}

.font{
  margin: 10px;
  font: 13pt 'trebuchet ms';
  text-align: center;
}

.btnatas-success {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnatas-success:hover {
    background-color: #A3A3A3;
    color: white;
}

/*BUTTON*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.8s; /* Safari */
    transition-duration: 0.8s;
    cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*----------------------------------------------------------------------------------------*/
.button1 {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;

}

.button1:hover {
    background-color: white;
    color: black;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: white;
    color: black;
}

.button-danger {
    background-color: #cc282d;
    color: white;
    border: 2px solid #cc282d;

}

.button-danger:hover {
    background-color: white;
    color: black;
}

.button-info {
    background-color: #3578d2;
    color: white;
    border: 2px solid #3578d2;

}

.button-info:hover {
    background-color: white;
    color: black;
}

.btnatas-success {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnatas-success:hover {
    background-color: #A3A3A3;
    color: white;
}

.btnatas-info {
    background-color: #3578d2;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnatas-info:hover {
    background-color: #A3A3A3;
    color: white;
}

.btnatas-danger {
    background-color: #cc282d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnatas-danger:hover {
    background-color: #A3A3A3;
    color: white;
}

.btnatas-warning {
    background-color: #e6de2d;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btnatas-warning:hover {
    background-color: #A3A3A3;
    color: white;
}

/*BUTTON END*/

/* WARNING NOTIF START -------------------------------------------------------- */
.notif-success{
  background-color: #3fb41c;
  padding: 5px;
  color: #2b2b2b;
}

.notif-success-a{
  background-color: #3fb41c;
  padding: 5px;
  color: #2b2b2b;
  animation-name: ntf-success-anm;
  animation-duration: 3s;
}

@keyframes ntf-success-anm {
  from {background-color: white;}
  to {background-color: #3fb41c;}
}

.notif-info{
  background-color: #1c54b4;
  padding: 5px;
  color: #2b2b2b;
}

.notif-info-a{
  background-color: #1c54b4;
  padding: 5px;
  color: #2b2b2b;
  animation-name: ntf-info-anm;
  animation-duration: 3s;
}

@keyframes ntf-info-anm {
  from {background-color: white;}
  to {background-color: #1c54b4;}
}

.notif-warning{
  background-color: #aebd38;
  padding: 5px;
  color: #2b2b2b;
}

.notif-warning-a{
  background-color: #aebd38;
  padding: 5px;
  color: #2b2b2b;
  animation-name: ntf-warning-anm;
  animation-duration: 3s;
}

@keyframes ntf-warning-anm {
  from {background-color: white;}
  to {background-color: #aebd38;}
}

.notif-danger{
  background-color: #db3232;
  color: #2b2b2b;
  padding: 5px;
}

.notif-danger-a{
  background-color: #db3232;
  color: #2b2b2b;
  padding: 5px;
  animation-name: ntf-danger-anm;
  animation-duration: 3s;
}

@keyframes ntf-danger-anm {
  from {background-color: white;}
  to {background-color: #db3232;}
}
/* WARNING NOTIF END ---------------------------------------------------------- */
